@tailwind base;
@tailwind components;
@tailwind utilities;

div:has(> .image) {
    @apply w-14;
}

.image {
    @apply max-h-[50px] max-w-[50px] block mx-auto;
}

.card {
    @apply bg-white rounded-md drop-shadow-md items-center px-3 py-2;
}
.content {
    .content p > a {
        @apply underline text-secondary hover:text-secondaryLight;
    }

    img {
        @apply rounded-md;
    }

    tbody {
        @apply divide-y divide-solid;
    }
    tr {
        @apply divide-x divide-dashed;
    }
    td, th {
        @apply px-2;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    code {
        @apply bg-slate-200 px-1 rounded-sm;
    }

    ul {
        @apply list-disc list-inside;
    }

    ol {
        @apply list-decimal list-inside;
    }
    :not(h1, h2, h3) > a {
        @apply underline hover:text-secondaryLight;
    }
}